

body{
    font-family: 'Roboto Slab', serif;
}
.glc-navbar{
    background-color: #37b494;
}
.glc-navbar a{
    color: #000;
}

#slideshow{
    position: relative;
    display: block;
    margin:auto;
    margin-bottom: 10px;
}
#slideshow ul li{
    position:relative;
    top:0;
    left:0;
    list-style:none;
}
#slides img{
  margin:auto;
  width: auto;
    height: auto;
}

#slides img{

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#prev{
    display:block;
    width:55px;
    height:55px;

    background: url("../img/sprites/sprite-square.png") 0 0 no-repeat;
    background-position:0 -110px;
}

#next{
    display:block;
    width:54px;
    height:55px;

    background: url("../img/sprites/sprite-square.png") 0 0 no-repeat;
    background-position:0 -55px;
}

li{
    list-style: none;
}
#prev-next{
    width: 100%;
    display: block;
    position: absolute;
    top : 45%;
    margin: auto;
}
#prev-next li{
    display: inline;
}
#prev-li{
    float: left;

}
#next-li{
    display: inline;
    float: right;
}
#slides{
    padding-left: 0px;
}
#prev-next ul{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.container{
    padding-left: 0px;
    padding-right: 0px;
}
#comments{
    text-align: center;
    margin-top: -3.6em;
    width:100%;
    position:absolute;
    background:grey;
    opacity:0.75;
    color:white;
    line-height:3;

}
#num{
    display:inline;
    float: left;
}

#puceSlides{
    display:inline;
    float: right;
}

#puceSlides img{
    display: inline;
    width: 20px;
    height: 20px;
}

#bottomSlides{
    margin-bottom: 30px;
}

.playButton{
  display:block;
  width:30px;
  height:30px;
  border:0px;
  padding:0px;

  background: url("../img/sprites/sprite-square.png") 0 0 no-repeat;
  background-position:-11 -11px;
}

.pauseButton{
  display:block;
  width:30px;
  height:30px;
  border:0px;
  padding:0px;

  background: url("../img/sprites/sprite-square.png") 0 0 no-repeat;
  background-position:-66px -11px;
}

#imagesTransition1 span img {
  opacity: 1;/* l'opacite que vous voulez au depart */
  border: none;/* enlever les border d'une image en lien */
  -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* Hack IE8 */
  filter: alpha(opacity = 25); /* Hack IE 5-7 */
  -webkit-transition: opacity 0.5s ease-in-out;/* transition pour Chrome et Safari */
  -moz-transition: opacity 0.5s ease-in-out;/* transition pour Firefox */
  -o-transition: opacity 0.5s ease-in-out;/* transition pour Opéra */
  transition: opacity 0.5s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */
}


#block span img {
  display:block;
  opacity:1;
}

#none span img {
  display:none;
}

#play{
  display: inline;

  top : 2.5%;
  display: block;
  position: absolute;
  width: 99%;
}

#playButton{
    display: inline;
    float: right;
}

#slides img span{
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.opaque{
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
