

body{
    font-family: 'Roboto Slab', serif;
}
.glc-navbar{
    background-color: #37b494;
}
.glc-navbar a{
    color: #000;
}

#slideshow{
    position: relative;
    display: block;
    margin:auto;
    margin-bottom: 10px;
}
#slideshow ul li{
    position:relative;
    top:0;
    left:0;
    list-style:none;
}

#slideshow img{
    margin:auto;
    width: 100%;
}
#prev{
    display:block;
    width:55px;
    height:55px;

    background: url("../img/sprites/sprite-square.png") 0 0 no-repeat;
    background-position:0 -110px;
}

#next{
    display:block;
    width:54px;
    height:55px;

    background: url("../img/sprites/sprite-square.png") 0 0 no-repeat;
    background-position:0 -55px;
}

li{
    list-style: none;
}
#prev-next{
    width: 100%;
    display: block;
    position: absolute;
    top : 50%;
    margin: auto;
}
#prev-next li{
    display: inline;
}
#prev-li{
    float: left;

}
#next-li{
    display: inline;
    float: right;
}
#slides{
    padding-left: 0px;
    z-index: -1;
}
#prev-next ul{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.container{
    padding-left: 0px;
    padding-right: 0px;
}
#comments{
    text-align: center;
    margin-top: -1.42em;
    z-index: 1000;
}